.signinone-body
  = render 'users/headersigninphonenumber'

  %main.signinone-main
    %section.signinone-contents
      %h2.signintwo-content-head 電話番号の確認

    .signinone-form
      .signinone-content
        .signinone-form-group#signinformgroup
          %label.product_new_name_label.content-update-head 携帯電話の番号
          = form_for @users, url: signinlocation_users_path do |f|
            = f.text_field :telphone_number, class: "input-default signin-input", placeholder: "携帯電話の番号を入力", type: "text"

            %p.signinone-form-group-text-two
              本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。

            = f.submit 'SMSを送信する', {class: "signinone-red-botton"}

            %p.signinone-form-group-text-two
              ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。

            .signinone-form-group-text-right
              %p.signinone-text-information
                = link_to '電話番号の確認が必要な理由', "/jp/help_center/article/423/", {class: "signinone-text-decration", target: "_blank"}
                %i.icon-arrow-right

  = render '/products/productfooter'
