.mypage_identification2
  = render 'users/headersigninthree'
  .mypage_identification2_main
    .mypage_identification2_main_header
      %h3.mypage_identification2_main_header_header 本人情報の登録
      %p.mypage_identification2_main_header_info お客様のあんしん・あんぜんな取引のため、本人情報のご登録をお願いしております
    .mypage_identification2_form
      .mypage_identification2_form_group
        %label お名前
        %span.form-require 必須
        %input.entry-form{:name => "First_Name", :placeholder => "例） 山田", :type => "text"}/
        %input.entry-form{:name => "Last_Name", :placeholder => "例） 彩", :type => "text"}/
      .mypage_identification2_form_group
        %label お名前カナ
        %span.form-require 必須
        %input.entry-form{:name => "First_Name", :placeholder => "例） ヤマダ", :type => "text"}/
        %input.entry-form{:name => "Last_Name", :placeholder => "例） アヤ", :type => "text"}/
      .mypage_identification2_form_group
        %label 郵便番号
        %span.form-select 任意
        %input.entry-form{:name => "postnumber", :placeholder => "例） 123-4567", :type => "text"}/
      .mypage_identification2_form_group
        %label 都道府県
        %span.form-require 必須
        %select.select-Prefecture{:name => "Prefecture"}
          %option{:value => ""} --
          = require 'yaml'
          = config = YAML.load_file("Prefecture.yml")
          - config["Prefectures"].each do |prefecture|
            %option #{prefecture}
      .mypage_identification2_form_group
        %label 市区町村
        %span.form-require 必須
        %input.entry-form{:name => "city_name", :placeholder => "例） 横浜市緑区", :type => "text"}/
      .mypage_identification2_form_group
        %label 番地
        %span.form-require 必須
        %input.entry-form{:name => "city_name", :placeholder => "例） 青山1-1-1", :type => "text"}/
      .mypage_identification2_form_group
        %label 建物名
        %span.form-select 任意
        %input.entry-form{:name => "city_name", :placeholder => "例） 柳ビル", :type => "text"}/
      .mypage_identification2_form_group
        %label 電話番号
        %span.form-select 任意
        %input.entry-form{:name => "postnumber", :placeholder => "例） 09012345678", :type => "text"}/
      .sell_description
        ※出品されたことがある、本人情報未登録のお客さまもご対象となります。
      %a.signinone-red-botton{:type => "submit", href: "/users/signinfore"}
        登録する
      %p.about-mypage_identification2
        %a.about-mypage_identification2_description{:href => "#"} 本人情報登録について &gt;
        %span
  = render '/products/productfooter'
