%header.header
  .header__all
    .clearfix
      %h1.l-left
        %a{href: "#"}
          %img{alt: "logo", height: "36", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3407889314", width: "134"}/
      = form_tag('/products/search', method: :get, class: "search-form") do
        %input.input-default2{:name => "keyword", :placeholder => "キーワードから探す", :type => "text", :value => ""}/
        %button.btn-search{:title => "検索", :type => "submit"}
          %i.fa.fa-search
      %form.header__form.l-right{"accept-charset" => "utf-8", :action => "/products/search", :method => "get"}
    .header__nav-box.clearfix
      %nav.l-left
        %ul.header__nav
          %li.submenu-trigger
            カテゴリ一覧
            %ul
              - @categories.each.with_index(0) do |category,i|
                - if category.parent_id == 0
                  %li.submenu2-trigger
                    %a{href: "/products/#{category.id}/category"}
                      = category.name
                    %ul
                      - @categories.each.with_index(0) do |child,e|
                        - if @categories[i].id == child.parent_id
                          %li.submenu3-trigger
                            %a{href: "/products/#{child.id}/category"}
                              = child.name
                            %ul
                              - @categories.each do |grandchild|
                                - if @categories[e].id == grandchild.parent_id
                                  %li.submenu4-trigger
                                    %a{href: "/products/#{grandchild.id}/category"}
                                      = grandchild.name
      .l-right
        %ul.header__user-nav
          %li
            %a.header__nav-root{href: "users"}
              %figure
                %div
                  %img{alt: "aa", src: "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png", width: "32"}/
              .header__nav-root-mypage マイページ
            %div
          %li
            %h2
              %a.header__nav-root{href: "##"} ブランドから探す
      - if user_signed_in?
        .l-right
          %ul.header__user-nav
            %li
              %a.header__nav-root{href: "users"}
                %figure
                  %div
                    %img{alt: "aa", src: "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png", width: "32"}/
                .header__nav-root-mypage マイページ
              %div
            %li
              %a.header__nav-root{href: "##"}
                %i.fa.fa-bell-o
                %span お知らせ
                .header__nav-count
              %ul
                %li
            %li
              %a.header__nav-root{href: "##"}
                %i.fa.fa-check
                %span やることリスト
              %ul.header__user-box
                %li
      - else
        .l-right
          %ul.pc-header-login-nav
            %li
              %a.sp-header-btn.btn-red-login{:href => "/users/sign_in"} ログイン
            %li
              %a.sp-header-btn.header-login{:href => "/users/sign_up"} 新規会員登録

- unless (controller_name == "products" && action_name == "index") || (controller_name == "products" && action_name == "search")
  .bread-crumbs-header
    %ul
      = breadcrumbs separator: " &#12297 "
