.products_buyconfirm
  = render 'productheader'
  .products_buyconfirm_content
    %h2 購入を確定しますか？
    = form_tag("buy", method: "PATCH") do
      .products_buyconfirm_content_item
        .products_buyconfirm_content_item_image
          = image_tag(@product.images[0].image, :class => "products_buyconfirm_content_item_image_content")
        %p.products_buyconfirm_content_item_name
          = @product.title
        .products_buyconfirm_content_item_form
          %p.products_buyconfirm_content_item_form_price
            = "¥ #{@product.price}"
            %span.products_buyconfirm_content_item_form_price_ship 送料込み
          .products_buyconfirm_content_item_form_point
            ポイントはありません
          .products_buyconfirm_content_item_form_total
            .products_buyconfirm_content_item_form_total_left
              支払い金額
            .products_buyconfirm_content_item_form_total_right
              = "¥ #{@product.price}"
          - if (@token.present? && @user.area_id.present?)
            %button.products_buyconfirm_content_item_form_buybtn{type: "submit"}
              購入画面に進む
          - else
            %p.products_buyconfirm_content_item_form_message
            配送先と支払方法の入力を完了してください
            .products_buyconfirm_content_item_form_buybtn_not
              購入する
      %section.products_buyconfirm_content_address
        .products_buyconfirm_content_address_box
          %h3 配送先
          %address
            = @user.postal_code
            %br
              = @user.area_id
              = @user.city_name
              = @user.city_number
              = @user.building
            %br
              = @user.nickname
          %p
          %a{href: "#"}
            %span 変更する &gt;
      %section.products_buyconfirm_content_howbuy
        .products_buyconfirm_content_howbuy_box
          %h3 支払方法
          %ul.settings-payment-list
            %li
            - if @token.present?
              %figure
              - if (@cards[:card][:brand] == "Visa")
                %img{:alt => "Visa", :height => "15", :src => "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?4192743052", :width => "49"}/
              - if (@cards[:card][:brand] == "MasterCard")
                %img{:alt => "MasterCard", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3708647559", :width => "34"}
              - if (@cards[:card][:brand] == "saison-card")
                %img{:alt => "saison-card", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3708647559", :width => "30"}/
              - if (@cards[:card][:brand] == "JCB")
                %img{:alt => "JCB", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3708647559", :width => "32"}/
              - if (@cards[:card][:brand] == "American Express")
                %img{:alt => "American Express", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3708647559", :width => "21"}/
              - if (@cards[:card][:brand] == "Diners Club")
                %img{:alt => "Diners Club", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3708647559", :width => "32"}/
              - if (@cards[:card][:brand] == "Discover")
                %img{:alt => "Discover", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3708647559", :width => "32"}/
              .settings-payment-num
                = ("***********" + @cards[:card][:last4])
              .settings-payment-num
                = "#{@cards[:card][:exp_month]}月 / #{@cards[:card][:exp_year]}年"
          %p
          %a{:href => "/users/show"}
            %span 変更する &gt
  = render 'productfooter'
