%body
  .default-container
    = render 'topheader'
    %main.white{role: "main"}
      %h2.top-scroll
        = image_tag "products_top-image.png", class: 'topscroll-image'
      %section.pickup__container
        %h2.pickup__head ピックアップカテゴリー
        %section.pickup__head__container.clearfix
          -if @ladys[0].present?
            %h3.pickup__head-item
              %a{href: "/products/#{@ladys[0].category_id}/category"} レディース 新着アイテム
            .items-box.clearfix
              - @ladys.each do |ladysitem|
                %section.items-box__contents
                  %a{href: "/products/#{ladysitem.id}"}
                    %figure.items-box__photo
                      .lazyloaded{:style => "background-image: url(#{ladysitem.images[0].image})"}
                        - if ladysitem.product_state_id ==2
                          = image_tag('sold.png', :class => "sold-image-index")
                    .items-box__body
                      %h3.items-box__name.font-1
                        = ladysitem.title
                      .items-box__num.clearfix
                        .items-box__price.font-2
                          = ladysitem.price
                        .iine-wrapper
                          %span.fa.fa-heart.like-btn-index
                            %span.iinemaenum
                              = Favorite.where(product_id: ladysitem.id).count
                        %p.items-box__tax (税込)
              .view-all
                %a{href: "/products/#{@ladys[0].category_id}/category"} すべての商品を見る
          -if @mens[0].present?
            %h3.pickup__head-item
              %a{href: "/products/#{@mens[0].category_id}/category"} メンズ 新着アイテム
            .items-box.clearfix
              - @mens.each do |mensitem|
                %section.items-box__contents
                  %a{href: "/products/#{mensitem.id}"}
                    %figure.items-box__photo
                      .lazyloaded{:style => "background-image: url(#{mensitem.images[0].image})"}
                        - if mensitem.product_state_id ==2
                          = image_tag('sold.png', :class => "sold-image-index")
                    .items-box__body
                      %h3.items-box__name.font-1
                        = mensitem.title
                      .items-box__num.clearfix
                        .items-box__price.font-2
                          = mensitem.price
                        .iine-wrapper
                          %span.fa.fa-heart.like-btn-index
                            %span.iinemaenum
                              = Favorite.where(product_id: mensitem.id).count
                        %p.items-box__tax (税込)
              .view-all
                %a{href: "/products/#{@mens[0].category_id}/category"} すべての商品を見る
          -if @kids[0].present?
            %h3.pickup__head-item
              %a{href: "/products/#{@kids[0].category_id}/category"} ベビー・キッズ 新着アイテム
            .items-box.clearfix
              - @kids.each do |kidsitem|
                %section.items-box__contents
                  %a{href: "/products/#{kidsitem.id}"}
                    %figure.items-box__photo
                      .lazyloaded{:style => "background-image: url(#{kidsitem.images[0].image})"}
                        - if kidsitem.product_state_id ==2
                          = image_tag('sold.png', :class => "sold-image-index")
                    .items-box__body
                      %h3.items-box__name.font-1
                        = kidsitem.title
                      .items-box__num.clearfix
                        .items-box__price.font-2
                          = kidsitem.price
                        .iine-wrapper
                          %span.fa.fa-heart.like-btn-index
                            %span.iinemaenum
                              = Favorite.where(product_id: kidsitem.id).count
                        %p.items-box__tax (税込)
              .view-all
                %a{href: "/products/#{@kids[0].category_id}/category"} すべての商品を見る
          -if @cosme[0].present?
            %h3.pickup__head-item
              %a{href: "/products/#{@cosme[0].category_id}/category"} コスメ・香水・美容 新着アイテム
            .items-box.clearfix
              - @cosme.each do |cosmeitem|
                %section.items-box__contents
                  %a{href: "/products/#{cosmeitem.id}"}
                    %figure.items-box__photo
                      .lazyloaded{:style => "background-image: url(#{cosmeitem.images[0].image})"}
                        - if cosmeitem.product_state_id ==2
                          = image_tag('sold.png', :class => "sold-image-index")
                    .items-box__body
                      %h3.items-box__name.font-1
                        = cosmeitem.title
                      .items-box__num.clearfix
                        .items-box__price.font-2
                          = cosmeitem.price
                        .iine-wrapper
                          %span.fa.fa-heart.like-btn-index
                            %span.iinemaenum
                              = Favorite.where(product_id: cosmeitem.id).count
                        %p.items-box__tax (税込)
              .view-all
                %a{href: "/products/#{@cosme[0].category_id}/category"}  すべての商品を見る
      %section.pickup__container
        %h2.pickup__head ピックアップブランド
        %section.pickup__head__container.clearfix
          %h3.pickup__head-item
            %a{href: "##"} シャネル 新着アイテム
          .items-box.clearfix
            - @chanel.each do |chanelitem|
              %section.items-box__contents
                %a{href: "/products/#{chanelitem.id}"}
                  %figure.items-box__photo
                    .lazyloaded{:style => "background-image: url(#{chanelitem.images[0].image})"}
                      - if chanelitem.product_state_id ==2
                        = image_tag('sold.png', :class => "sold-image-index")
                  .items-box__body
                    %h3.items-box__name.font-1
                      = chanelitem.title
                    .items-box__num.clearfix
                      .items-box__price.font-2
                        = chanelitem.price
                      .iine-wrapper
                        %span.fa.fa-heart.like-btn-index
                          %span.iinemaenum
                            = Favorite.where(product_id: chanelitem.id).count
                      %p.items-box__tax (税込)
            .view-all
              %a{href: "#"} すべての商品を見る
          %h3.pickup__head-item
            %a{href: "##"} ルイヴィトン 新着アイテム
          .items-box.clearfix
            - @lvmh.each do |lvmhitem|
              %section.items-box__contents
                %a{href: "/products/#{lvmhitem.id}"}
                  %figure.items-box__photo
                    .lazyloaded{:style => "background-image: url(#{lvmhitem.images[0].image})"}
                      - if lvmhitem.product_state_id ==2
                        = image_tag('sold.png', :class => "sold-image-index")
                  .items-box__body
                    %h3.items-box__name.font-1
                      = lvmhitem.title
                    .items-box__num.clearfix
                      .items-box__price.font-2
                        = lvmhitem.price
                      .iine-wrapper
                        %span.fa.fa-heart.like-btn-index
                          %span.iinemaenum
                            = Favorite.where(product_id: lvmhitem.id).count
                      %p.items-box__tax (税込)
            .view-all
              %a{href: "#"} すべての商品を見る
          %h3.pickup__head-item
            %a{href: "##"} バーバリー 新着アイテム
          .items-box.clearfix
            - @burberry.each do |burberryitem|
              %section.items-box__contents
                %a{href: "/products/#{burberryitem.id}"}
                  %figure.items-box__photo
                    .lazyloaded{:style => "background-image: url(#{burberryitem.images[0].image})"}
                      - if burberryitem.product_state_id ==2
                        = image_tag('sold.png', :class => "sold-image-index")
                  .items-box__body
                    %h3.items-box__name.font-1
                      = burberryitem.title
                    .items-box__num.clearfix
                      .items-box__price.font-2
                        = burberryitem.price
                      .iine-wrapper
                        %span.fa.fa-heart.like-btn-index
                          %span.iinemaenum
                            = Favorite.where(product_id: burberryitem.id).count
                      %p.items-box__tax (税込)
            .view-all
              %a{href: "#"} すべての商品を見る
          %h3.pickup__head-item
            %a{href: "##"} グッチ 新着アイテム
          .items-box.clearfix
            - @gucci.each do |gucciitem|
              %section.items-box__contents
                %a{href: "/products/#{gucciitem.id}"}
                  %figure.items-box__photo
                    .lazyloaded{:style => "background-image: url(#{gucciitem.images[0].image})"}
                      - if gucciitem.product_state_id ==2
                        = image_tag('sold.png', :class => "sold-image-index")
                  .items-box__body
                    %h3.items-box__name.font-1
                      = gucciitem.title
                    .items-box__num.clearfix
                      .items-box__price.font-2
                        = gucciitem.price
                      .iine-wrapper
                        %span.fa.fa-heart.like-btn-index
                          %span.iinemaenum
                            = Favorite.where(product_id: gucciitem.id).count
                      %p.items-box__tax (税込)
            .view-all
              %a{href: "#"} すべての商品を見る
    = render 'topappbanner'
    = render 'topfooter'
    = render 'topcellbtn'
