%body
  .default-container
    = render 'topheader'
    %main.white{role: "main"}
      %h2.top-scroll
        = image_tag "products_top-image.png", class: 'topscroll-image'
      %section.pickup__container
        %h2.pickup__head ピックアップカテゴリー
        %section.pickup__head__container.clearfix
          %h3.pickup__head-item
            %a{href: "##"} レディース 新着アイテム
          .items-box.clearfix
            - @ladys.each do |ladysitem|
              %section.items-box__contents
                %a{href: "/products/#{ladysitem.id}"}
                  %figure.items-box__photo
                    .lazyloaded{:style => "background-image: url(#{ladysitem.images[0].image_url})"}
                  .items-box__body
                    %h3.items-box__name.font-1
                      = ladysitem.title
                    .items-box__num.clearfix
                      .items-box__price.font-2
                        = ladysitem.price
                      %p.items-box__tax (税込)
            .view-all
              %a{href: "##"} すべての商品を見る
          %h3.pickup__head-item
            %a{href: "##"} メンズ 新着アイテム
          .items-box.clearfix
            - @mens.each do |mensitem|
              %section.items-box__contents
                %a{href: "/products/#{mensitem.id}"}
                  %figure.items-box__photo
                    .lazyloaded{:style => "background-image: url(#{mensitem.images[0].image_url})"}
                  .items-box__body
                    %h3.items-box__name.font-1
                      = mensitem.title
                    .items-box__num.clearfix
                      .items-box__price.font-2
                        = mensitem.price
                      %p.items-box__tax (税込)
            .view-all
              %a{href: "##"} すべての商品を見る
          %h3.pickup__head-item
            %a{href: "##"} ベビー・キッズ 新着アイテム
          .items-box.clearfix
            - @kids.each do |kidsitem|
              %section.items-box__contents
                %a{href: "/products/#{kidsitem.id}"}
                  %figure.items-box__photo
                    .lazyloaded{:style => "background-image: url(#{kidsitem.images[0].image_url})"}
                  .items-box__body
                    %h3.items-box__name.font-1
                      = kidsitem.title
                    .items-box__num.clearfix
                      .items-box__price.font-2
                        = kidsitem.price
                      %p.items-box__tax (税込)
            .view-all
              %a{href: "##"} すべての商品を見る
          %h3.pickup__head-item
            %a{href: "##"} コスメ・香水・美容 新着アイテム
          .items-box.clearfix
            - @cosme.each do |cosmeitem|
              %section.items-box__contents
                %a{href: "/products/#{cosmeitem.id}"}
                  %figure.items-box__photo
                    .lazyloaded{:style => "background-image: url(#{cosmeitem.images[0].image_url})"}
                  .items-box__body
                    %h3.items-box__name.font-1
                      = cosmeitem.title
                    .items-box__num.clearfix
                      .items-box__price.font-2
                        = cosmeitem.price
                      %p.items-box__tax (税込)
            .view-all
              %a{href: "##"} すべての商品を見る
    = render 'topappbanner'
    = render 'topfooter'
    = render 'topcellbtn'
