= render 'topheader'
.item_information
  .item_information_main
    %h1.item-name
      = @product.title
    .item-main-content
      .item-photo
        .item-photo_main
          .main-image{:style => "background-image: url(#{@product.images[0].image_url});"}
            - if @product.product_state_id ==2
              = image_tag('sold.png', :class => "sold-image")
            - else
              ""
        .item-photo_sub
          = @product.images.each do |image|
            .sub-image{:style => "background-image: url(#{image.image_url});", :src => "#{image.image_url}"}
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              %a{:href => "#"}
                = @product.user.nickname
              .face-icon
                .item-user-ratings.my-pink
                  %i.fas.fa-grin
                  %span xxx
                .item-user-ratings.my-yellow
                  %i.fas.fa-meh
                  %span xxx
                .item-user-ratings.my-skyblue
                  %i.fas.fa-frown-open
                  %span xxx
          %tr
            %th カテゴリー
            %td
              %a{:href => "#"}
                %div
                  = @product.category.name
              %a{:href => "#"}
                .item-detail-table-sub-sub-category
                  %i.fas.fa-angle-right.my-skyblue
                  xx
              %a{:href => "#"}
                .item-detail-table-sub-sub-category
                  %i.fas.fa-angle-right.my-skyblue
                  xxx
          %tr
            %th ブランド
            %td
              %a{:href => "#"}
                %div
                  = @product.brand.name
          %tr
            %th 商品の状態
            %td
              = @product.product_old.name
          %tr
            %th 配送料の負担
            %td
              = @product.deliveryfee.name
          %tr
            %th 配送の方法
            %td
              = @product.shipment.name
          %tr
            %th 配送元地域
            %td
              %a{:href => "#"}
                = @product.area.name
          %tr
            %th 発送日の目安
            %td
              = @product.deliveryday.name

    .item-price-box
      %span.item-price-box-rate ¥
      %span.item-price-box-price
        = @product.price
      %span.item-price-box-tax (税込)
      %span.item-price-box-shipping-fee 送料込み
    - if @product.product_state_id ==1
      .buy-btn-red
        購入画面に進む
    - else
      .buy-btn-gray
        売り切れ済み
    .item-description
      = @product.product_introduce
      %br/
    .item-button-container
      .item-button-container-left
        - if Favorite.find_by(user_id: current_user.id, product_id: @product.id)
          %button.like-button
            = link_to("/favorites/#{@product.id}/destroy", {method: "post"}) do
              %span.fa.fa-heart.like-btn-unlike
              %span.iinego いいね!
              %span.iinegonum
                = @favorites_count
        - else
          %button.like-button
            = link_to("/favorites/#{@product.id}/create", {method: "post"}) do
              %span.fa.fa-heart.like-btn
              %span.iinemae いいね!
              %span.iinemaenum
                = @favorites_count
        .arart-button
          %a.arart-button-text{"data-modal" => "report-item", "data-open" => "modal", :href => ""}
            %i.far.fa-flag
            %span 不適切な商品の報告
      .item-button-container-right
        %a.item-button-right-text{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
          %i.fas.fa-lock
          %span あんしん・あんぜんへの取り組み
  .next-item-wrapper
    %ul.nav-item-link
    - if @product_prev_id!=0
      %li.nav-item-link-prev
        %a.nav-item-link-prev-text{:href => "/products/#{@product_prev_id}"}
          %i.fas.fa-angle-left
          - @product_prev.each do |pcontent|
            = pcontent.title
    - else

    - if @product_next_id.present?
      %li.nav-item-link-next
        %a.nav-item-link-next-text{:href => "/products/#{@product_next_id}"}
          %i.fas.fa-angle-right
          - @product_next.each do |ncontent|
            = ncontent.title
    - else
      ""
  .sns-btn-wrapper
    %ul.social-media-box
      %li.sns-btn
        %a.sns-btn-icon{"data-window-name" => "facebook_window", :href => "#", :target => "_blank"}
          %i.fab.fa-facebook.fa-3x.my-blue
      %li.sns-btn
        %a.sns-btn-icon{"data-window-name" => "twitter_window", :href => "#", :target => "_blank"}
          %i.fab.fa-twitter-square.fa-3x.my-skyblue
      %li.sns-btn
        %a.sns-btn-icon{"data-window-name" => "line_window", :href => "#", :target => "_blank"}
          %i.fab.fa-line.fa-3x.my-green
      %li.sns-btn
        %a.sns-btn-icon{"data-window-name" => "pinterest_window", :href => "#", :target => "_blank"}
          %i.fab.fa-pinterest-square.fa-3x.my-red
  .items-in-user-profile
    %h2
      = @product.user.nickname
      %span さんのその他の出品
    .items-box.clearfix
      - @useritem.each do |item|
        %section.items-box__contents
          %a{href: "/products/#{item.id}"}
            %figure.items-box__photo
              .lazyloaded{:style => "background-image: url(#{item.images[0].image_url})"}
            .items-box__body
              %h3.items-box__name.font-1
                = item.title
              .items-box__num.clearfix
                .items-box__price.font-2
                  = item.price
                %p.items-box__tax (税込)
= render 'topappbanner'
= render 'topfooter'
= render 'topcellbtn'

